<% if flash[:notice] %>
  <div class="alert alert-warning alert-block m-t m-b-none">
    <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
    <h4 style="float:left"><i class="fa fa-bell-o"></i>友情提示：</h4>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>