<section class="main padder">
  <div class="row">
    <section class="col-lg-12">
      <div class="m-t m-b" style="padding:20px;font-size:24px;line-height:2;border:1px solid #ccc;border-radius:5px;font-family:tahoma,arial,Microsoft Yahei,宋体;overflow:hidden">
      <i class="fa fa-warning text-danger" style="float:left;padding:15px 20px"></i>
      <div style="float:left">
        对不起，您无此功能的操作权限。<br>
        请联系管理员。
        <p style="padding:20px 0;font-size:18px;">返回上一页，请点击 <a class="btn btn-success" href="javascript:history.back();"><i class="fa fa-retweet"></i>返回</a></p>
      </div>
      </div>
    </section>
  </div>
</section>