<section class="col-lg-8">
    <div class="panel-body">
      <%= form_for([:admin, @record], html: {class: "form-horizontal", id: "ticket-type-1"}) do |f| %>
          <div class="form-group" id="ticket-name">
            <label class="col-lg-3 control-label">名称<span>*</span></label>
            <div class="col-lg-9">
              <%= f.text_field :name, class: "form-control", placeholder: "输入名称", data: {required: "true"} %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <a href="/admin/schools" class="btn btn-white">取消</a>&nbsp;&nbsp;
              <button type="submit" class="btn btn-primary">保存</button>
            </div>
          </div>

      <% end %>
    </div>
</section>