.daterangepicker.dropdown-menu { max-width:none; }
.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar { float:left; margin:4px; }
.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar { float:right; margin:4px; }
.daterangepicker .ranges { width:160px; text-align:left; }
.daterangepicker .ranges .range_inputs div { float:left; }
.daterangepicker .ranges .range_inputs div:nth-child(2) { padding-left:11px; }
.daterangepicker .calendar { display:none; max-width:230px; }
.daterangepicker .calendar th, .daterangepicker .calendar td { font-family:'helvetica neue','\5fae\8f6f\96c5\9ed1',helvetica,arial,sans-serif; white-space:nowrap; text-align:center; }
.daterangepicker .ranges label { color:#333; font-size:11px; margin-bottom:2px; text-transform:uppercase; text-shadow:1px 1px 0 #fff; }
.daterangepicker .ranges input { font-size:11px; }
.daterangepicker .ranges ul { list-style:none; margin:0; padding:0; }
.daterangepicker .ranges li { font-size:13px; background:#f5f5f5; border:1px solid #f5f5f5; color:#08c; padding:3px 12px; margin-bottom:8px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; cursor:pointer; }
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover { background:#08c; border:1px solid #08c; color:#fff; }
.daterangepicker .calendar { border:1px solid #eee; padding:4px; border-radius:4px; background:#fff; }
.daterangepicker { position:absolute; background:#fff; top:100px; left:20px; padding:4px; margin-top:1px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.daterangepicker.opensleft:before { position:absolute; top:-7px; right:9px; display:inline-block; border-right:7px solid transparent; border-bottom:7px solid #ccc; border-left:7px solid transparent; border-bottom-color:rgba(0,0,0,.2); content:''; }
.daterangepicker.opensleft:after { position:absolute; top:-6px; right:10px; display:inline-block; border-right:6px solid transparent; border-bottom:6px solid #fff; border-left:6px solid transparent; content:''; }
.daterangepicker.opensright:before { position:absolute; top:-7px; left:9px; display:inline-block; border-right:7px solid transparent; border-bottom:7px solid #ccc; border-left:7px solid transparent; border-bottom-color:rgba(0,0,0,.2); content:''; }
.daterangepicker.opensright:after { position:absolute; top:-6px; left:10px; display:inline-block; border-right:6px solid transparent; border-bottom:6px solid #fff; border-left:6px solid transparent; content:''; }
.daterangepicker table { width:100%; margin:0; }
.daterangepicker td, .daterangepicker th { text-align:center; width:20px; height:20px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; cursor:pointer; white-space:nowrap; }
.daterangepicker td.off { color:#999; }
.daterangepicker td.disabled { color:#999; }
.daterangepicker td.available:hover, .daterangepicker th.available:hover { background:#eee; }
.daterangepicker td.in-range { background:#ebf4f8; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }
.daterangepicker td.active, .daterangepicker td.active:hover { background-color:#13C4A5; color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,.25); }
.daterangepicker td.week, .daterangepicker th.week { font-size:80%; color:#ccc; }
