default: &default
  xinge_host: openapi.xg.qq.com
  xinge_api_url: http://openapi.xg.qq.com
  xinge_access_id: YourAccessID
  xinge_access_key: YourAccessKey
  xinge_secret_key: YourSecretKey


development:
  <<: *default

  website: http://localhost:3000


test:
  <<: *default

  website: http://localhost:3000


production:
  <<: *default

  website: http://www.joydaxue.com