<div class="login">
  <div class="login-screen">
    <div class="login-icon">
      <img src="/assets/flatui/login/icon.png" alt="Welcome to Mail App">
      <h4>Welcome to <small>Joydaxue</small></h4>
    </div>

    <div class="login-form">
      <div class="form-group">
        <input type="text" class="form-control login-field" value="" placeholder="请输入用户名" id="login-name">
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="form-group">
        <input type="password" class="form-control login-field" value="" placeholder="请输入验证码" id="login-captcha">
        <label class="login-field-icon fui-lock" for="login-captcha"></label>
      </div>

      <a class="btn btn-primary btn-lg btn-block" onclick="doLogin();" href="javascript:void(0)">登录</a>
      <a class="login-link" href="#">忘记密码?</a>
    </div>
  </div>
</div>